.menu-area{    
    background:#6E90B9;
    top: -1px;
    width: 100%;
    z-index:1000;  
    position:fixed;
    /* background-image:url(../../../assets/img/menu.png); */
    -webkit-box-shadow: 2px 4px 9px -1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 9px -1px rgba(0,0,0,1);
    box-shadow: 2px 4px 9px -1px rgba(0,0,0,1);
}
.dropdown-menu{
    padding:0;
    margin:0;
    /* border:0 solid transition!important;
    border:0 solid rgba(0,0,0,.15);
    border-radius:0;
    -webkit-box-shadow:none!important;
    box-shadow:none!important; */

    -webkit-box-shadow: 2px 4px 9px -1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 9px -1px rgba(0,0,0,1);
    box-shadow: 2px 4px 9px -1px rgba(0,0,0,1);

}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{
    color:#fff;font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;
    text-decoration: none;
}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{
    /* background:#FFF; */
	color:#666;
    outline: 0;
}
/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a{
    background:#FFF;
	color:#666;
}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{
    background:#FFF;
    color:#666;
}
.mainmenu .collapse ul ul ul > li:hover > a{
    background:#FFF;
    color:#666;
}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{
    background:#6E90B9;
    color:#666;

}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{background:#1E88E5}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:#64B5F6}

/******************************Drop-down menu work on hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 767px) {
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (max-width: 767px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}