<div class="container py-5 mt-5">
    <div class="card">
      <div class="container py-3">
        <h5 class="titulo1 "><i class="icon-file-text"></i> Detalles de Viajes</h5>
  
      <hr class="hr">
      
      <div class="row">
        <div class="col-md-2">
          <button routerLink="/detviajes-form" class="btn btn-primary">Nuevo Registro</button>
        </div>
      </div>
  
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Origen</th>
          <th scope="col">Destino</th>
          <th scope="col">Fecha</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of lstdetViajes">
          <th>{{v.cedula}}</th>
          <td>{{v.nombre}}</td>
          <td>{{v.origen}}</td>
          <td>{{v.destino}}</td>
          <td>{{v.fecha_reg | date:'dd-MM-yyyy'}}</td>
          <td> <i routerLink="/detviajes-form/{{v.id}}" style="color:steelblue;cursor: pointer;" class="icon-pencil2"></i></td>
          <td><i (click)="Delete(v.id)" style="color:red;cursor: pointer;" class="icon-cross"></i></td>
        </tr>   
      </tbody>
    </table>  
  
      </div>
    </div>
  </div>
  
